PORT=5000
MONGO_URI=mongodb+srv://awahabb4_db_user:i2V2aNpNw5DJVFWA@cluster0.auybano.mongodb.net/mydb
JWT_SECRET=mysecretkey
REFRESH_TOKEN_SECRET=refresh_token_secret_key

# Token Expiry Configuration
ACCESS_TOKEN_EXPIRY=24h
REFRESH_TOKEN_EXPIRY=30d

NODE_ENV=development

# AWS S3 Configuration
APP_AWS_REGION=eu-north-1
APP_AWS_ACCESS_KEY_ID=your_APP_AWS_ACCESS_KEY_ID
APP_AWS_SECRET_ACCESS_KEY=your_APP_AWS_SECRET_ACCESS_KEY
AWS_S3_BUCKET_NAME=travel-agency-docs